@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Lato:ital,wght@1,300&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Gruppo&family=Monoton&display=swap');

/*
font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Gasoek One', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Monoton', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(66, 161, 130, 0.933);
}

/*header{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: relative;
}*/

header {
    display: flex;
    flex-direction: row;
    align-items: center; /* centra todo los textos del header verticalmente*/
    justify-content: space-evenly; /*alinea los elementos horizontalmente*/ /**/
    background-color: rgb(219, 219, 199);
}

.logo{
    display: flex;
    align-items: center;

    width: 30%;

    background-color: rgba(211, 119, 206, 0.459);
    color: black;
    font-size: xx-large;
    font-family: 'Monoton', cursive;
    padding: 15px 50px; 
    font-weight: bold;
}

/*.navbar{
    width: 80%;
    background-color: rgba(214, 218, 180, 0.908);
    display: flex;
}*/

/*header nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 25px;
   
}*/

header nav ul {
    list-style: none; 
    display: flex; 
    flex-direction: row;
    align-items:center;
    gap: 75px;
}

header nav ul li a {
    color: rgb(50, 23, 172);
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    margin: 0 30 px;
    padding: 8px 25px; 
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'Monoton', cursive;
 }

 header nav a:hover{
    color: darkorange;
    background-color: black;
 }

/*------------------------------------------------------------*/
main{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
   
}
.pano{
    width: 100%;
}

#mdp{
    background-color: black;
    color: rgb(238, 237, 179);
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Gruppo', sans-serif;
    font-size: 70px;
}

.divGenerales{
    text-align: center;
    background-color: rgba(241, 222, 160, 0.849);
}

h2{
    background-color: rgba(238, 255, 0, 0.384);
    color: rgb(7, 7, 7);
    border: 2px groove rgb(138, 40, 40);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    
}

div p{
    background-color: rgba(247, 247, 247, 0.699);
    color: rgba(10, 10, 10, 0.719);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 5px double ;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.album{
    display: inline-flex;
}
.album img{
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.album img:hover{
    transform: scale(1.30);
}


h3{
    background-color: rgba(255, 111, 0, 0.384);
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
}

.PGenerales{
    background-color: rgba(101, 201, 210, 0.572);
    color: rgba(10, 10, 10, 0.719);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.propuesta img{
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.propuesta img:hover{
    transform: scale(1.30);
}

/*-------------------------------------------------------------*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(223, 162, 214);
    bottom: 0;
    width: 100%;
    height: 50px;
}
