*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
}

.logo{
    width: 40%;
    background-color: rgba(211, 119, 206, 0.459);
    text-align: center;
    color: black;
    font-size: xx-large;
    margin: 0 30 px;
    padding: 15px 50px; 
    font-weight: bold;
}

.logo:hover{
   background-image: url(./Images/faro.jpg);
}

.navbar{
    width: 80%;
    background-color: rgb(214, 218, 180);
    display: flex;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 25px;
   
}

header nav ul li a {
    color: rgb(50, 23, 172);
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    margin: 0 30 px;
    padding: 8px 50px; 
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
 }

 header nav a:hover{
    color: darkorange;
    background-color: black;
 }

/*------------------------------------------------------------*/

/*.grid-content{
    background-color: rgb(170, 224, 224);
    display: grid;
    justify-items: center;
    gap: 20px;
    
    grid-template-areas: 
                          'general general'
                          'cultura cultura'
                          'paseos paseos'
                          'familia familia'
                          'religion religion';
}

.grid-content .divGenerales{
    text-align: center;
    background-color: rgb(198, 206, 151);
    font-size: 30px;
}
.grid-content .general{
    grid-area: general;
}
.grid-content .cultura{
    grid-area: cultura;
   
}
.grid-content .paseos{
    grid-area: paseos;
}
.grid-content .familia{
    grid-area: familia;
}
.grid-content .religion{
    grid-area: religion;
}*/

footer{
    background-color: brown;
    display: grid;
}