/* 1) Pintar de color rojo el texto de los ítems del menú principal 
(el que está ubicado en el header) y evitar que aparezca el punteo en cada ítem de esta lista */
#ulHeader {
    color: red;
    list-style-type: none;
}
/* "list-style" se utiliza para aplicar estilo CSS a las listas.
Las listas tienen tres propiedades especificas
- list-style-type: Define el tipo de viñeta para la lista, o que no aparezxa ninguno.
- list-style-position: define donde se coloca el marcador en relacion a la caja principal
- list-style-image: permite utilizar una imagen personalizada para la viñeta.
*/



/* 2)Pintar el fondo de todas las listas que aparecen en el main, de color azul y la letra de color blanco. */
main li {
    color: white;
    background-color: blue;
}
/* SELECTOR DESCENDIENTE 
Selecciona los elementos que se encuentran dentro de otros elementos. 
Un elemento es descendiente de otro cuando se encuentra entre las etiquetas de apertura 
y de cierre del otro elemento.*/



/* 3) Colocar un tamaño de fuente para el titulo principal de la primera sección del main de 38px. 
Luego definir un tamaño de fuente para todos los h2 de 20px. */
#em {
    font-size: 38px;
}
h2 {
    font-size: 20px;
}
/* ESPECIFICIDAD 
Es la manera mediante la cual los navegadores deciden qué valores de una propiedad CSS 
son más relevantes para un elemento y, por lo tanto, serán aplicados.
Lista de incrementacion en funcion de la especifidad
- Selectores de tipo 
- Selectores de clase
- Selectores de Id 

En el ejercicio el h2 es un selector de tipo, 
y como #em es un delector de id tiene mas jerarquia en su utilizacion*/



/* 4) Colocar un color de fondo para el titulo principal de la segunda sección del main de color rojo. Luego definir a través de otra regla de css, 
un color para este mismo elemento, pero ahora de color amarillo. */

.tituloSeccion2 {
    background-color: rgb(189, 24, 24);
}
.tituloSeccion2 {
    background-color: darkkhaki;
}
#titulo2 {
    background-color: gold;
}

/* En el caso de usar dos veces la misma clase con diferentes valores en el atributo, se aplica el ultimo utilizado. Si invierto el orden la ultima en el codigo sera la que tome por defecto.
Realizando la prueba con un class y un id. el id toma mayor relevancia por el sentido de especificidad */  



/* OPCIONAL AVANZADO */

/* 5) Colocar un tamaño de fuente para la primera sección que está en el main de 25px. Adicionalmente, colocar, para la primera lista en el main (la que esta abajo del título "Lista para utilizar unidades em"), un tamaño de Font para los ítems de 2em. */

#seccion1 {
    font-size: 25px;
}
.it1 {
    font-size: 2em;
}

/* Por la especificidad se aplica el id y despues la class. La diferencia entre pixeles y em, es que los pixeles son unidades de longitud absolutas, y los em son unidades de longitus de relativas, el em es el tamaño de letra de mi elemento padre 2em es dos veces ese tamaño (Los elementos <li> dentro de un elemento <ul> con una clase de ems toman el tamaño con respecto a su elemento padre. Por lo tanto, en cada nivel de anidamiento sucesivo, el tamaño de letra aumenta progresivamente, porque en cada uno el tamaño de letra está establecido ej: en 1.3em (1,3 veces el tamaño de letra de su elemento padre).)*/



/* 6)Colocar un tamaño de fuente para la segunda sección que está en el main de 30px. Adicionalmente, colocar para la segunda lista en el main (la que esta abajo del título "Lista para utilizar unidades rem"), un tamaño de Font para los ítems de 5rem. */


#seccion2 {
    font-size: 30px;
}
.it2{
    font-size: 5rem;
}


/* la unidad rem significa «el tamaño de letra del elemento raíz». ('rem' viene de «root em»). Los elementos <li> dentro de un elemento <ul> con una clase de rems toman su tamaño del elemento raíz (<html>). Esto significa que el tamaño de letra no aumenta en cada nivel sucesivo de anidamiento.
*/

/* Estos ultimos dos ejercicios no entendi si estan bien realizados o no, ya que no termino de comprender claramente la consigna. si la proxima clase puede explicarme esto un poco mejor seria genial, ya que no termine de entender donde debo aplicarlo extactamente*/

/* Rocio Saganias*/