*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* imagen de fondo*/
body{
    background-image: url(./bg-palm.jpg);
    background-size: cover;
}


/* header*/
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*main*/

div ul{
    list-style: none;
}
div ul li{
    border: 2px solid rgb(230, 230, 221);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(245, 245, 220, 0.745);
    margin: 20px;
}
div ul li a{
    text-decoration: none;
    padding: 100px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
 margin-left: 100px;
}
.colorVerde{
    color: rgb(27, 196, 70);
    font-size: 15px;
}

/* footer*/

.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.lab{
    padding: 20px;
}
.colorGris{
    color: rgb(59, 56, 58);
    font-size: 36px;
}