.fondoAzul {
    background-color: blue;
}

.fondoRojo {
    background-color: rgb(243, 85, 73);
}
.fondoVerde {
    background-color: rgb(78, 186, 100);
}
.fondoNaranja {
    background-color: rgb(205, 120, 46);
}
.fondoVioleta {
    background-color: rgb(123, 18, 209);
}
.fondoCeleste {
    background-color: rgb(46, 186, 205);
}
.fondoRosa {
    background-color: rgb(205, 46, 171);
}
.fondoAmarillo {
    background-color: rgb(232, 219, 33);
}
.fondoBeige {
    background-color: rgb(225, 187, 110);
}